@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.bg-blue {
  background-color: #233a95;
}

@media(min-width: 1300px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0;
}
.logoWrapper img {
  width: 100%;
}
.headerWrapper .header .part2 .countryDrop {
  height: 50px;
  min-width: 170px;
  text-align: left;
  justify-content: flex-start;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px 15px !important;
}
.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize;
  color: #233a95;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
}

header .headerSearch {
  width: 60%;
  height: 50px;
  background: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
header .headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 40px;
  border: none !important;
  padding: 0 60px 0 10px;
  margin-right: 0rem;
}

header .headerSearch input ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
header .headerSearch button {
  position: absolute;
  top: 4px;
  right: 0px;
  z-index: 100;
  height: 40px;
  width: 10px !important;
  border-radius: 50% !important;
  color: #000;
}
.headerSearch {
  margin-left: 24px;
  margin-right: 24px;
}
header .headerSearch button svg {
  font-size: 25px;
}
.part3 {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header .part3 .circle {
  min-width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}
header .part3 .circle svg {
  font-size: 22px;
}

.cart .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  margin-right: 0.9rem;
}
.cart .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}

nav .categories {
  background: #2bbef9;
  padding: 8px 30px !important;
  border-radius: 30px !important;
}

nav .categories * {
  color: #fff;
}
nav .categories:hover {
  background: #2bbef9 !important;
}
nav .categories .text{
  font-weight: 600;
}
